<div ng-if="$root.phase == 'battle'" ng-controller="BattleController">
    <div ng-show="subPhase == 'start'">

        <div class="flow-buttons">
            <p>
                <span ng-show="!invadersSuffered50PercentLosses">
                    Invader losses:
                    <button class="btn btn-primary" ng-click="nextRoundOfCombat()">Less than {{unitsKilledToBreakMorale}}</button>
                    <button class="btn btn-primary" ng-click="performLoyaltyTest()">At least {{unitsKilledToBreakMorale}}</button>
                    <button class="btn btn-primary" ng-click="invaderDefeated()">All invaders killed</button>
                </span>
                <span ng-show="invadersSuffered50PercentLosses">
                    Invader status:
                    <button class="btn btn-primary" ng-click="performLoyaltyTest()">Some invaders remain</button>
                    <button class="btn btn-primary" ng-click="invaderDefeated()">All invaders killed</button>
                </span>
            </p>
            <button class="btn btn-default" ng-click="$root.phase = 'invaderArrived'">< back</button>
        </div>

        <h2>III. SIEGE - BATTLE</h2>

        <h1 class="primary-message">{{invaderType.name}} are invading!</h1>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Forces near the town:</strong></p>
                <p><forces forces="allForcesNearTown" type="invaderType"></forces></p>
            </div>
            <div class="col-md-6">
                Step 1. Defender’s Ranged Units attack<br/>
                Step 2. Invader’s Ranged Units attack<br/><br/>
                Step 3. Defender’s Siege Machines attack<br/>
                Step 4. Invader’s Siege Machines attack<br/><br/>
                Step 5. Regrouping the enemy to the Foreground Zone<br/>
                Step 6. Defender’s Ranged Units second attack<br/>
                Step 7. Regrouping defenders<br/>
                Step 8. Invader’s Ranged Units second attack<br/><br/>
                Step 9. Forming Combat Groups<br/>
                Step 10. Using Cauldrons/Boulders<br/>
                Step 11. Assigning defender’s units to Combat Groups<br/>
                Step 12. Close combat outcome<br/>
                Step 13. Destroying the Town/regrouping enemy units<br/><br/>
            </div>
        </div>
    </div>

    <div ng-show="subPhase == 'battleOngoing'">

        <div class="flow-buttons">
            <p>
                <span ng-show="!invadersSuffered50PercentLosses">
                    Invader losses:
                    <button class="btn btn-primary" ng-click="nextRoundOfCombat()">Less than {{unitsKilledToBreakMorale}}</button>
                    <button class="btn btn-primary" ng-click="performLoyaltyTest()">At least {{unitsKilledToBreakMorale}}</button>
                    <button class="btn btn-primary" ng-click="invaderDefeated()">All invaders killed</button>
                </span>
                <span ng-show="invadersSuffered50PercentLosses">
                    Invader status:
                    <button class="btn btn-primary" ng-click="performLoyaltyTest()">Some invaders remain</button>
                    <button class="btn btn-primary" ng-click="invaderDefeated()">All invaders killed</button>
                </span>
            </p>
            <button class="btn btn-default" ng-click="$root.phase = 'invaderArrived'">< back</button>
        </div>

        <h2>III. SIEGE - BATTLE</h2>

        <h1 class="primary-message">{{invaderType.name}} are invading!</h1>
        <h3>{{battleResult}}</h3>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Forces near the town:</strong></p>
                <p><forces forces="allForcesNearTown" type="invaderType"></forces></p>
            </div>
            <div class="col-md-6">
                Step 3. Defender’s Siege Machines attack<br/>
                Step 4. Invader’s Siege Machines attack<br/><br/>
                Step 5. Regrouping the enemy to the Foreground Zone<br/>
                Step 6. Defender’s Ranged Units second attack<br/>
                Step 7. Regrouping defenders<br/>
                Step 8. Invader’s Ranged Units second attack<br/><br/>
                Step 9. Forming Combat Groups<br/>
                Step 10. Using Cauldrons/Boulders<br/>
                Step 11. Assigning defender’s units to Combat Groups<br/>
                Step 12. Close combat outcome<br/>
                Step 13. Destroying the Town/regrouping enemy units<br/><br/>
            </div>
        </div>
    </div>
</div>
