<strong>{{name}}</strong><br/><br/>
Wall EN: <input class="form-control input-sm" type="number" ng-model="defences[dirid].wallEN" style="width: 70px" /><br/><br/>
Units ST: <input class="form-control input-sm" type="number" ng-model="defences[dirid].unitsST" style="width: 70px" />
<br/><br/>
Protection: <select ng-model="defences[dirid].protection" class="form-control input-sm">
  <option value="">-</option>
  <option>Ditch</option>
  <option>Sharpened stakes</option>
  <option>Moat</option>
</select>
        <br/><br/>