<div ng-show="phase == 'intro'">
    <div class="flow-buttons">
        <button class="btn btn-primary" ng-click="$root.phase = 'gameSetup'">Setup the game</button>
    </div>

    <center><h2>THE CONVICTED<br/>digital aid</h2></center><br/>

    <p>New stuff:</p>
    <p>- Flow buttons are now on the top</p>
    <p>- Reworked loot so it's automatically distributed among players</p>
    <p>- Simplified enemy scouting</p>

    <br/>
    <br/>

    <p>Aid created by Maciej Cielecki you can contact me (and report bugs!) at maciej.cielecki@10clouds.com</p>
</div>